<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>STUDY MATERIAL</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body style="margin-top:60px;"> 
   
        <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ><strong style=""></strong> <i class=""></i>LBSIM<small >STUDY MATERIAL</small></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">
                    <li><a >HOME</a></li>
                     <li><a href="about.html">EXTERNAL VIDEOS</a></li>
<li><a href="about.html">NOTICES</a></li>
                     <li><a href="pricing.html">CONTACT HOD</a></li>
                   
                </ul>
            </div>

        </div>
    </div>
    <!--MENU SECTION END-->
    <section id="home-sec">
        <div class="overlay text-center">
            <h1 >Study material</h1>
            <hr class="hr-set"/>

            <p>all your study material at one place..</p>
        </div>
    </section>
    <!--HOME SECTION END-->
    
            </div>
        </div>
    </section>
     <!--SEARCH SECTION END-->
    <section id="services-sec">
        <div class="container">
           
            <div class="row text-center" >
<div class="col-md-4">
    <i class="fa fa-database fa-5x icon-custom-1 color-1"></i>
    <h3>powerpoint</h3>
    <p>
        download ppts.
    </p>

</div>
                <div class="col-md-4">
                     <i class="fa fa-globe fa-5x icon-custom-1 color-1"></i>
    <h3>pdf files</h3>
                     <p>
        e books,last year papers,tutorials
    </p>
                </div>
                <div class="col-md-4">
                     <i class="fa fa-desktop fa-5x icon-custom-1 color-1"></i>
    <h3>classroom video lectures</h3>
                     <p>
        watch the latest video by your own faculty
        
    </p>
                </div>
            </div>
        </div>

</body>
</html>
