<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
   Hi,
   <br/>
      <h1>Query from elearning website,from <%= @name %> with email id <%= @emailid%></h1>
      
      <p>
         Query: 
         <%= @message %>.<br>
      </p>
      
      <p>Thanks!</p>
      
   </body>
</html>